
@btn-lang-height: 40px;
.app {
    width: 100%;
    // height: 100%;
    height: calc(~'100% - @{btn-lang-height}');
    color: #666;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4%;
    box-sizing: border-box;
    position: relative;
  }
  .shici{
    width: 90%;
    height: 10%;
    margin: 20px auto 5px auto;
    color: yellowgreen;
    text-align: center;
    // overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
  }
  .loadingBox{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btnLang{
    width: 100%;
    height: @btn-lang-height;
    text-align: center;
    line-height: 40px;
    border-radius: 4px;
    background-image: linear-gradient(to right, #bf30ac 0%, #0f9d58 100%);
    opacity: 0.9;
    color: #fff;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .formBox{
    width: 100%;
    margin-top: 10px;
  }